
header.header{
    padding-top: 15px;
    color: $main-color1;
    nav.navbar{
        ul.navbar-list{
            font-size:15px;
            font-weight:300;
            line-height: 22px;
            li.navbar-item{
                
            }
        }
    }
}